@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Syne:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Arimo", sans-serif;
  color: #fff;
}

:root {
  --p-color: #d9e1ff;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: 60px;
}

p {
  color: var(--p-color);
  font-size: 20px;
  line-height: 28px;
}

body {
  padding: 80px 5.5rem;
  background: linear-gradient(135deg, #00002e, #100c2d);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-2 {
  flex-basis: 50%;
  padding: 30px;
}

.col-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
}

.col-3 {
  flex-basis: 31%;
  width: 31%;
  padding: 20px;
  background-color: #171542;
  border-radius: 5px;
}

.col-3 h2 {
  font-family: "Syne", sans-serif;
  margin-bottom: 10px;
}

.about-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.team-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

section {
  margin-bottom: 20vh;
}

.contact-info h2 {
  font-family: "Syne", sans-serif;
}

.contact-info {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

h2 a {
  font-family: "Syne", sans-serif;
}


input {
  border: 1px solid var(--p-color);
  padding: 13px;
  background-color: transparent;
  border-radius: 20px;
  width: 70%;
}

button {
  padding: 20px;
  color: #fff;
  font-family: "Syne", sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #00002e;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  body {
    padding: 40px 20px;
  }

  .col-2 {
    flex-basis: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 40px;
  }

  h2{
    font-size: 20px;
  }

  p {
    font-size: 15px;
    line-height: 20px;
  }

  .col-2 img {
    padding: 0;
    margin-top: 20px;
  }

  .about-text {
    font-size: 15px;
  }

  .col-3 {
    flex-basis: 100%;
    width: 100%;
  }

  .contact-info h2{
    font-size: 19px;
  }

  input{
    width: 62%;
    padding: 10px;
  }

  button{
    padding: 10px;
    font-size: 12px;
    margin-left: 10px;
  }
}
